<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Catalog - Brand</title>
    <th:block th:include="fragments.html :: headerfiles"></th:block>
</head>

<body>
<th:block th:include="fragments.html :: nav"></th:block>
    <main class="page catalog-page">
        <section class="clean-block clean-catalog dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Catalog Page</h2>
<!--                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>-->
                </div>
                <div class="content">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="d-none d-md-block">
                                <div class="filters">
                                    <form class="form-group" th:object="${catalogCommand}" th:action="@{/catalog-page}"
                                         method="post">
                                        <h3>Category</h3>
                                        <div class="form-group">
                                            <select class="form-control" th:field="*{category}" th:name="category" id="category">
                                                <span th:if="${#httpServletRequest.getParameter('category') == '*{category}'}">
                                                <option th:each="category : ${catalogCommand.getCategories()}" th:value="${category}"
                                                        th:text="${category}" class="form-control item" selected></option>
                                                </span>
                                                <span th:unless="${#httpServletRequest.getParameter('category') == '*{category}'}">
                                                <option th:each="category : ${catalogCommand.getCategories()}" th:value="${category}"
                                                        th:text="${category}" class="form-control item"></option>
                                                </span>
                                            </select>
                                        </div>
                                        <h3>Brand</h3>
                                        <div class="form-group">
                                            <select class="form-control" th:field="*{brand}" th:name="brand" id="brand">
                                                <option th:each="brand : ${catalogCommand.getBrands()}" th:value="${brand}"
                                                         th:text="${brand}" class="form-control item"></option>
                                            </select>
                                        </div>
                                        <h3>OS</h3>
                                        <div class="form-group">
                                            <select class="form-control"  th:field="*{os}"  th:name="os" id="os">
                                                <option th:each="os : ${catalogCommand.getOss()}" th:value="${os}"
                                                         th:text="${os}" class="form-control item"></option>
                                            </select>
                                        </div>
                                        <button class="btn btn-primary btn-block" type="submit">Filter products</button>
                                    </form>
                                </div>
                            </div>
                            <div class="d-md-none"><a class="btn btn-link d-md-none filter-collapse" data-toggle="collapse" aria-expanded="false" aria-controls="filters" href="#filters" role="button">Filters<i class="icon-arrow-down filter-caret"></i></a>
                                <div class="collapse"
                                    id="filters">
                                    <div class="filters">
                                        <div class="filter-item">
                                            <h3>Category</h3>
                                            <select class="form-control" id="filter1">
                                                <option>All</option>
                                                <option>2</option>
                                            </select>
                                        </div>
                                        <div class="filter-item">
                                            <h3>Category</h3>
                                            <select class="form-control" id="filter2">
                                                <option>All</option>
                                                <option>2</option>
                                            </select>
                                        </div>
                                        <div class="filter-item">
                                            <h3>Category</h3>
                                            <select class="form-control" id="filter3">
                                                <option>All</option>
                                                <option>2</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="products">
                                <div class="row no-gutters">
                                    <div class="col-12 col-md-6 col-lg-4" th:each="product, iStat : ${productPage.content}">
                                        <div class="clean-product-item">
                                            <div class="image" th:each="image : ${product.getImages()}">
                                                <a th:if="${image.getIsThumbnail()}" th:href="@{'/products/' + ${product.id}}">
                                                <img class="img-fluid d-block mx-auto"  th:src="@{'/products/image/' + ${image.getId()}}">
                                                </a>
<!--                                                <a href="#" th:href="@{'/products/' + ${product.id}}">
                                                    <img class="img-fluid d-block mx-auto" src="../static/img/tech/image2.jpg" th:src="@{/resources/img/tech/image2.jpg}">
                                                </a>-->
                                            </div>
                                            <div class="product-name">
                                                <a href="#" th:text="${product.name}" th:href="@{'/products/' + ${product.id}}">Lorem ipsum dolor sit amet</a>
                                            </div>
                                            <div class="about">
                                                <div class="rating">
                                                    <span>
                                                    <span th:each="star : ${productService.generateStarRatingForProduct('__${product.id}__')}">
                                                        <span th:switch="${star}">
                                                            <img th:case="2" th:src="@{/resources/img/star.svg}">
                                                            <img th:case="1" th:src="@{/resources/img/star-half-empty.svg}">
                                                            <img th:case="0" th:src="@{/resources/img/star-empty.svg}">
                                                        </span>
                                                    </span>
                                                            <p class="text-dark"  th:text="'(' + '__${#lists.size(product.reviews)}__' + ')'">(0)</p>
                                                        </span>
                                                </div>
                                                <div class="price">
                                                    <h3 th:text="${'__${product.getFormattedPrice()}__'}">$100</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <nav>
                                    <ul th:if="${productPage.totalPages > 0}" class="pagination">
<!--                                        <li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>-->
                                        <li th:class="${pageNumber==productPage.number + 1} ? 'page-item active':'page-item'" th:each="pageNumber : ${pageNumbers}" th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder)}">
                                            <a class="page-link" href="#"
                                               th:text=${pageNumber}
                                            th:href="${urlBuilder.fromCurrentRequest().replaceQueryParam('size', __${productPage.size}__).replaceQueryParam('page', __${pageNumber}__).toUriString()}">1</a>
                                        </li>
<!--                                        <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>-->
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
<th:block th:include="fragments.html :: footer"></th:block>
<th:block th:include="fragments.html :: scripts"></th:block>
</body>

</html>