<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">
<head>
<div th:fragment="headerfiles">
    <link rel="stylesheet" href="../static/resources/bootstrap/css/bootstrap.min.css" th:href="@{/resources/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="../static/resources/fonts/simple-line-icons.min.css" th:href="@{/resources/fonts/simple-line-icons.min.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="../static/resources/css/smoothproducts.css" th:href="@{/resources/css/smoothproducts.css}">
</div>
</head>

<body>
<div th:fragment="nav">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="#">Online Shop</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                 id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/index">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/catalog-page">Catalog</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/shopping-cart">Shopping Cart</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/my-orders">My Orders</a></li>
                    <li class="nav-item dropdown" sec:authorize="hasRole('ROLE_ADMIN')">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/admin/all-orders">All orders</a>
                            <a class="dropdown-item" href="/admin/manage-products">Manage Products</a>
                        </div>
                    </li>
                    <form method="post" th:action="@{/logout}">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" href="/logout" sec:authorize="isAuthenticated()">Logout</a>
                        <a class="nav-link active" href="/login" sec:authorize="isAnonymous()" >Login</a>
                    </li>
                    </form>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div th:fragment="footer">
    <footer class="page-footer dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Get started</h5>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Sign up</a></li>
                        <li><a href="#">Downloads</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>About us</h5>
                    <ul>
                        <li><a href="#">Company Information</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Reviews</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Support</h5>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Help desk</a></li>
                        <li><a href="#">Forums</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Legal</h5>
                    <ul>
                        <li><a href="#">Terms of Service</a></li>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2018 Copyright Text</p>
        </div>
    </footer>
</div>
<div th:fragment="scripts">
    <script src="../static/js/jquery.min.js" th:src="@{/resources/js/jquery.min.js}"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js" th:src="@{/resources/bootstrap/js/bootstrap.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="../static/js/smoothproducts.min.js" th:src="@{/resources/js/smoothproducts.min.js}"></script>
    <script src="../static/js/theme.js" th:src="@{/resources/js/theme.js}"></script>
</div>
</body>
</html>