<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <th:block th:include="fragments.html :: headerfiles"></th:block>
</head>

<body>
<th:block th:include="fragments.html :: nav"></th:block>

    <main class="page landing-page">
        <section class="clean-block clean-hero"
                 style="background-image:url(&quot;../static/img/tech/image4.jpg&quot;);color:rgba(9, 162, 255, 0.85);">
            <div class="text">
                <h2 sec:authorize="isAuthenticated()" th:text ="'Welcome, ' + '__${#authentication.getPrincipal().getUser().getFirstName()}__'">Lorem ipsum dolor sit amet.</h2>
                <h2 sec:authorize="!isAuthenticated()" th:text ="'Welcome, visitor'">Lorem ipsum dolor sit amet.</h2>
                <p>This is an online shop demo application that is written in Java, using Spring Framework, Thymeleaf and Bootstrap 4</p>
                <p>Please create an account in order to interact with the website, creating an admin account will allow you to use some administrative features like managing the products displayed in the catalog</p>
                <p>Click <a href="http://www.yahoo.com">here</a> to view the source code</p>
                <form action="/signup" method="get">
                    <button class="btn btn-outline-light btn-lg" type="submit">Signup</button></div>
                </form>
            </div>
        </section>
    </main>
<th:block th:include="fragments.html :: footer"></th:block>
<th:block th:include="fragments.html :: scripts"></th:block>
</body>

</html>