<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Manage products</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <th:block th:include="fragments.html :: headerfiles"></th:block>
</head>

<body>
<th:block th:include="fragments.html :: nav"></th:block>
<main class="page faq-page">
    <section class="clean-block clean-faq dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Manage products</h2>
<!--                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>-->
            </div>
            <div class="block-content">
                <div class="row">
                    <div class="col-md-3">
                        <form th:action="@{'/admin/add-product/'}" method="get">
                            <div class="form-group">
                                <button class="btn btn-primary btn-block" type="submit">Add product</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Products</th>
                            <th></th>
                            <th></th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="product : ${products}">
                            <td colspan="3">
                                <span th:text="${product.name}">hello</span>
                            </td>
                            <td th:if="${product.disabled}"><a th:href="@{'/admin/enableProduct/'+'__${product.getId()}__'}">Enable</a></td>
                            <td th:if="!${product.disabled}"><a th:href="@{'/admin/disableProduct/'+'__${product.getId()}__'}">Disable</a></td>
                        </tr>
                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </section>
</main>
<th:block th:include="fragments.html :: footer"></th:block>
<th:block th:include="fragments.html :: scripts"></th:block>
<script src="assets/js/bs-animation.js" th:src="@{/resources/js/bs-animation.js}"></script>
</body>

</html>