<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Shopping Cart - Brand</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <th:block th:include="fragments.html :: headerfiles"></th:block>
</head>

<body>
<th:block th:include="fragments.html :: nav"></th:block>
<main class="page faq-page">
    <section class="clean-block clean-faq dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">My Orders</h2>
<!--                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>-->
            </div>
            <div class="block-content">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Order details</th>
                            <th></th>
                            <th></th>
                            <th>View</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="order : ${orders}">
                            <td colspan="3">
                                <span th:each="basketProduct : ${order.getProducts()}">
                                    <span th:text="'__${basketProduct.getCount()}__' + 'x'">hello</span>
                                    <span th:text="'__${basketProduct.getProduct().getName()}__'">there</span>
                                </span>
                            </td>
                            <td><a th:href="@{'/my-orders/'+'__${order.getId()}__'}">View</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</main>
<th:block th:include="fragments.html :: footer"></th:block>
<th:block th:include="fragments.html :: scripts"></th:block>
<script src="assets/js/bs-animation.js" th:src="@{/resources/js/bs-animation.js}"></script>
</body>
</html>