<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Product - Brand</title>
    <th:block th:include="fragments.html :: headerfiles"></th:block>
</head>

<body>
<th:block th:include="fragments.html :: nav"></th:block>
    <main class="page product-page">
        <section class="clean-block clean-product dark">
            <div class="container">
<!--                <div class="block-heading">-->
<!--                    <h2 class="text-info">Product Page</h2>-->
<!--                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>-->
<!--                </div>-->
                <div class="block-content">
                    <div class="product-info">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="gallery">
                                    <div class="sp-wrap" >
                                        <span th:each="image : ${product.getImages()}" >
                                        <a href="../static/img/tech/image1.jpg" th:if="${image.getIsThumbnail()}" th:href="@{'/products/image/' + ${image.getId()}}">
                                            <img class="img-fluid d-block mx-auto" src="../static/img/tech/image1.jpg" th:src="@{'/products/image/' + ${image.getId()}}">
                                        </a>
                                        </span>
                                        <span th:each="image : ${product.getImages()}" >
                                        <a href="../static/img/tech/image1.jpg"  th:if="!${image.getIsThumbnail()}" th:href="@{'/products/image/' + ${image.getId()}}">
                                            <img class="img-fluid d-block mx-auto" src="../static/img/tech/image1.jpg" th:src="@{'/products/image/' + ${image.getId()}}">
                                        </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="info">
                                    <h3 th:text="${product.name}">Lorem Ipsum</h3>
                                    <div class="rating">
                                        <span th:each="star : ${stars}">
                                            <span th:switch="${star}">
                                                <img th:case="2" th:src="@{/resources/img/star.svg}">
                                                <img th:case="1" th:src="@{/resources/img/star-half-empty.svg}">
                                                <img th:case="0" th:src="@{/resources/img/star-empty.svg}">
                                            </span>
                                        </span>
                                    </div>
                                    <div class="price">
                                        <h3 th:text="${(product.price  +  '$')}" >$300.00</h3>
                                    </div>
                                    <form class="form-group" sec:authorize="isAuthenticated()" th:object="${orderCommand}" method="post" th:action="@{/products/addtobasket}">
                                        <div class="form-group">
                                        <input class="form-control item" th:type="hidden" id="userId" name="userId" field="userId" th:value="__${#authentication.getPrincipal().getUser().getId()}__" readonly>
                                        <input class="form-control item" th:type="hidden" id="productId" name="productId" field="productId" th:value="__${product.id}__" readonly>
                                        </div>
                                    <button class="btn btn-primary" type="submit">
                                        <i class="icon-basket"></i>Add to Cart</button>
                                    </form>

                                    <form class="form-group" sec:authorize="!isAuthenticated()" th:object="${orderCommand}" method="get" th:action="@{/login}">
                                        <button class="btn btn-primary" type="submit">
                                            <i class="icon-basket"></i>Add to Cart</button>
                                    </form>

                                    <div class="summary">
                                        <p th:text="${product.companyDescription}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec augue nunc, pretium at augue at, convallis pellentesque ipsum. Vestibulum diam risus, sagittis at fringilla at, pulvinar vel risus. Vestibulum dignissim
                                            eu nulla eu imperdiet. Morbi mollis tellus a nunc vestibulum consequat. Quisque tristique elit et nibh dapibus sodales. Nam sollicitudin a urna sed iaculis.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-info">
                        <div>
                            <ul class="nav nav-tabs" id="myTab">
                                <li class="nav-item"><a class="nav-link active" role="tab" data-toggle="tab" id="description-tab" href="#description">Description</a></li>
                                <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" id="specifications-tabs" href="#specifications">Specifications</a></li>
                                <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" id="reviews-tab" href="#reviews">Reviews</a></li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane active fade show description" role="tabpanel" id="description">
                                    <p th:text="${product.description}"></p>
                                </div>
                                <div class="tab-pane fade show specifications" role="tabpanel" id="specifications">
                                    <div class="table-responsive table-bordered">
                                        <table class="table table-bordered">
                                            <tbody>
                                                <tr>
                                                    <td class="stat">Display</td>
                                                    <td th:text="${(product.display  +  '&quot;')}">5.2"</td>
                                                </tr>
                                                <tr>
                                                    <td class="stat">Camera</td>
                                                    <td th:text="${(product.camera  +  'MP')}">12MP</td>
                                                </tr>
                                                <tr>
                                                    <td class="stat">RAM</td>
                                                    <td th:text="${(product.ram  +  'GB')}">4GB</td>
                                                </tr>
                                                <tr>
                                                    <td class="stat">OS</td>
                                                    <td th:text="${product.os}">iOS</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane fade show" role="tabpanel" id="reviews" >
                                    <div class="reviews">
                                        <div sec:authorize="!isAuthenticated()" class="alert alert-danger">Please login in order to leave a review</div>
                                        <form sec:authorize="isAuthenticated()" th:object="${reviewCommand}" method="post" th:action="@{'/products/' + ${product.id} + '/postreview'}">
                                            <div class="form-group row">
                                                <div class="col-3">
                                                <select class="form-control" id="stars" th:field="*{stars}">
                                                    <option th:value="1">1 Star</option>
                                                    <option th:value="2">2 Stars</option>
                                                    <option th:value="3">3 Stars</option>
                                                    <option th:value="4">4 Stars</option>
                                                    <option th:value="5">5 Stars</option>
                                                </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-3">
<!--                                                    <label for="title" placeholder="Title">Title</label>-->
                                                    <input class="form-control item" id="title" type="text" placeholder="Title"
                                                           th:field="*{title}">
                                                </div>
                                            </div>
                                            <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="alert alert-danger"></div>
                                            <div class="form-group row">
<!--                                                <label for="textArea">Review</label>-->
                                                <div class="col-12">
                                                <textarea class="form-control" id="review" placeholder="Review"
                                                          th:field="*{review}"></textarea>
                                                </div>
                                            </div>
                                            <div th:if="${#fields.hasErrors('review')}" th:errors="*{review}" class="alert alert-danger"></div>
                                            <div class="form-group row">
                                                <div class="col-3">
                                                    <button class="btn btn-primary btn-block" type="submit">Leave a review</button>
                                                </div>
                                            </div>
                                        </form>
                                        <div class="review-item" th:each="review : ${reviews}">
                                            <div class="rating">
                                                <span th:each="star : ${review.getStarRating()}">
                                                    <span th:switch="${star}">
                                                        <img th:case="2" th:src="@{/resources/img/star.svg}">
                                                        <img th:case="1" th:src="@{/resources/img/star-half-empty.svg}">
                                                        <img th:case="0" th:src="@{/resources/img/star-empty.svg}">
                                                    </span>
                                                </span>
                                            </div>
                                            <h4 th:text="${review.title}">Incredible product</h4>
                                            <span class="text-muted"><a href="#" th:text="${review.name}">John Smith</a>, <span th:text="${review.date}">20 Jan 2018</span></span>
                                            <p th:text="${review.review}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec augue nunc, pretium at augue at, convallis pellentesque ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
<th:block th:include="fragments.html :: footer"></th:block>
<th:block th:include="fragments.html :: scripts"></th:block>
</body>

</html>