<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title th:if="!${isDetails}">Shopping Cart - Brand</title>
    <title th:if="${isDetails}">Order Details</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <th:block th:include="fragments.html :: headerfiles"></th:block>
</head>

<body>
<th:block th:include="fragments.html :: nav"></th:block>
<main class="page shopping-cart-page">
    <section class="clean-block clean-cart dark">
        <div class="container">
            <div class="block-heading">
                <h2 th:if="!${isDetails}" class="text-info">Shopping Cart</h2>
                <h2 th:if="${isDetails}" class="text-info">Order Details</h2>
            </div>
            <div class="content">
                <div class="row no-gutters">
                    <div class="col-md-12 col-lg-8">
                        <div class="items">
                            <div th:if="${emptyBasket}" class="alert alert-danger">Your basket is empty</div>
                            <div class="product" th:if="${!emptyBasket}" th:each="basketProduct : ${products}">
                                <div class="row justify-content-center align-items-center">
                                    <div class="col-md-3">
                                        <div class="product-image">
                                            <span th:each="image : ${basketProduct.getProduct().getImages()}">
                                            <a th:if="${image.getIsThumbnail()}" th:href="@{'/products/' + ${basketProduct.getProduct().getId()}}">
                                                <img class="img-fluid d-block mx-auto"  th:src="@{'/products/image/' + ${image.getId()}}">
                                            </a>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-5 col-lg-4 product-info">
                                        <a class="product-name" href="#" th:href="@{'/products/' + ${basketProduct.getProduct().getId()}}"
                                           th:text="${basketProduct.getProduct().getName()}"></a>
                                        <div class="product-specs">
                                            <div><span>Display:&nbsp;</span><span class="value">5 inch</span></div>
                                            <div><span>RAM:&nbsp;</span><span class="value">4GB</span></div>
                                            <div><span>Memory:&nbsp;</span><span class="value">32GB</span></div>
                                        </div>
                                        <div class="row no-gutters">
<!--                                            <div class="col-md-3">-->
                                                <form class="col-sm" th:if="!${isDetails}" th:object="${basketProduct}" method="post"
                                                      th:action="@{'/shopping-cart/remove/' + ${basketProduct.getId()}}">
                                                    <div class="form-group">
                                                        <button style="width: 100px;"
                                                                class="btn btn-primary btn-block" type="submit">Remove</button>
                                                    </div>
                                                </form>
<!--                                            </div>-->
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-2 col-lg-3 quantity">
                                        <label class="d-none d-md-block">
                                        Quantity
                                        </label>
                                        <div class="row no-gutters">
                                            <div class="col-sm">
                                        <form th:if="!${isDetails}" th:object="${basketProduct}" method="post"
                                              th:action="@{'/shopping-cart/decrease/'+${basketProduct.getCount()}+'/'
                                              +${basketProduct.getId()}}">
                                        <button class="btn btn-primary" data-bs-hover-animate="rubberBand" type="submit"
                                                style="font-size: 10px;width: 25px;">-</button>
                                        </form>
                                            </div>
                                            <div class="col-sm">
                                        <strong style="padding: 5px;height: auto;font-size: 17px;"
                                                th:text="${basketProduct.getCount()}">10</strong>
                                            </div>
                                            <div class="col-sm">
                                        <form th:if="!${isDetails}" th:object="${basketProduct}" method="post"
                                              th:action="@{'/shopping-cart/increase/'+${basketProduct.getCount()}+'/'
                                              +${basketProduct.getId()}}">
                                        <button class="btn btn-primary" data-bs-hover-animate="rubberBand" type="submit"
                                                style="font-size: 10px;width: 25px;">+</button>
                                        </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-2 col-lg-2 price" style="width: 90px;">
                                        <span th:text="${orderService.getPriceForBasketProduct(basketProduct)}">$120</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4">
                        <div class="summary">
                            <h3>Summary</h3>
                            <h4><span class="text">Subtotal</span><span class="price" th:text="${subtotal}">$360</span></h4>
                            <h4><span class="text">Discount</span><span class="price">$0</span></h4>
                            <h4><span class="text">Shipping</span><span class="price">$0</span></h4>
                            <h4><span class="text">Total</span><span class="price" th:text="${subtotal}">$360</span></h4>
                            <form th:object="${basketProduct}" th:action="@{'/shopping-cart/purchase'}" method="post">
                            <button th:if="!${isDetails}" class="btn btn-primary btn-block btn-lg" type="input">Checkout</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<th:block th:include="fragments.html :: footer"></th:block>
<th:block th:include="fragments.html :: scripts"></th:block>
<script src="assets/js/bs-animation.js" th:src="@{/resources/js/bs-animation.js}"></script>
</body>

</html>