<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Shopping Cart - Brand</title>
    <th:block th:include="fragments.html :: headerfiles"></th:block>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

</head>

<body>
<th:block th:include="fragments.html :: nav"></th:block>
    <main class="page shopping-cart-page">
        <section class="clean-block clean-cart dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Shopping Cart</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
                </div>
                <div class="content">
                    <div class="row no-gutters">
                        <div class="col-md-12 col-lg-8">
                            <div class="items">
                                <div class="product" th:each="basketProduct : ${products}">
                                    <div class="row justify-content-center align-items-center">
                                        <div class="col-md-3">
                                            <div class="product-image"><img class="img-fluid d-block mx-auto image" src="../static/img/tech/image2.jpg"></div>
                                        </div>
                                        <div class="col-md-5 col-lg-4 product-info"><a class="product-name" href="#" th:text="${basketProduct.getProduct().getName()}">Lorem Ipsum dolor</a>
                                            <div class="product-specs">
                                                <div><span>Display:&nbsp;</span><span class="value">5 inch</span></div>
                                                <div><span>RAM:&nbsp;</span><span class="value">4GB</span></div>
                                                <div><span>Memory:&nbsp;</span><span class="value">32GB</span></div>
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-2 quantity"><label class="d-none d-md-block">Quantity</label>
                                            <input type="number" id="quantity" class="form-control quantity-input" value="1">

                                            <div class="d-flex flex-row bd-highlight mb-3 col-6 col-md-2">
                                                <form class="form-group col-6 col-md-2"  th:object="${basketProduct}" method="post" th:action="@{'/shopping-cart/decrease/'+${basketProduct.getCount()}+'/'
                                                                                                                               +${basketProduct.getId()}}">
                                                <button class="btn btn-primary btn-block btn-xs" type="submit">-</button>
                                                </form>
                                               <p class="col-6 col-md-2 price" th:text="${basketProduct.getCount()}">1</p>
                                                <form class="form-group col-6 col-md-2"  th:object="${basketProduct}" method="post" th:action="@{'/shopping-cart/increase/'+${basketProduct.getCount()}+'/'
                                                                                                                               +${basketProduct.getId()}}">
                                                    <button class="btn btn-primary btn-block btn-xs" type="submit">+</button>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-2 col-lg-3 quantity">
                                            <label class="d-none d-md-block">Quantity</label>
                                            <form th:object="${basketProduct}" method="post" th:action="@{'/shopping-cart/decrease/'+${basketProduct.getCount()}+'/'+${basketProduct.getId()}}"><button class="btn btn-primary" data-bs-hover-animate="rubberBand" type="submit" style="font-size: 10px;width: 25px;">-</button></form><strong style="padding: 5px;height: auto;font-size: 17px;" th:text="${basketProduct.getCount()}">10</strong><form th:object="${basketProduct}" method="post" th:action="@{'/shopping-cart/increase/'+${basketProduct.getCount()}+'/'+${basketProduct.getId()}}"><button class="btn btn-primary" data-bs-hover-animate="rubberBand" type="submit" style="font-size: 10px;width: 25px;">+</button></form>
                                        </div>
                                        <div class="col-6 col-md-2 col-lg-2 price" style="width: 90px;"><span th:text="${basketProduct.getProduct().getPrice()}">$120</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-4">
                            <div class="summary">
                                <h3>Summary</h3>
                                <h4><span class="text">Subtotal</span><span class="price" th:text="${subtotal}">$360</span></h4>
                                <h4><span class="text">Discount</span><span class="price">$0</span></h4>
                                <h4><span class="text">Shipping</span><span class="price">$0</span></h4>
                                <h4><span class="text">Total</span><span class="price"th:text="${subtotal}">$360</span></h4><button class="btn btn-primary btn-block btn-lg" type="button">Checkout</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
<th:block th:include="fragments.html :: footer"></th:block>
<th:block th:include="fragments.html :: scripts"></th:block>
<script src="assets/js/bs-animation.js" th:src="@{/resources/js/bs-animation.js}"></script>
</body>

</html>